/* Global */
html, body {
  margin: 0;
  left: 0;
  top: 0;
  background: #22252c;
  color: #f5f5f5;
  font-family: 'Maven Pro', sans-serif;
  min-height: 100vh;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: default;
}

p, h1, h2, h3 {
  cursor: text;
}

h1, h2, h3 {
  line-height: 1.3em !important;
}

.center-vh, #scrn-smol {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

#no-js {
  display: none;
}

.smooth {
  transition: all 1s cubic-bezier(0.85, 0, 0.35, 1.2);
}

.smooth-text {
  transition: all 0.5s ease-in-out;
}

.invisible {
  opacity: 0;
}

.send-to-back {
  z-index: -50 !important;
}

a, a:link, a:visited, a:hover, a:active {
  color:#e14658;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.hover a:hover {
  color:#ff5678;
  transition: color 0.2s ease-in-out;
}

a:active, .hover a:active {
  color:#ff3668;
  transition: color 0.03s ease-in-out;
}

::selection {
  background: #ffd5d5;
}
::-moz-selection {
  background: #ffd5d5;
}

address {
  font-style: inherit;
  margin: 1.3em 0;
}

.no-wrap {
  display: inline-block !important;
  white-space: nowrap;
}

address p {
  margin: 0.25em 0;
}

address .no-wrap {
  padding-left: 0.5em;
}

.pills {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.25em;
  margin-bottom: 0.5em;
}

.pill {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  padding: 2px 8px;
  background: #ff533d;
  border-radius: 16px;
  color: #f5f5f5;
  transition: background 0.5s ease-in-out;
  white-space: nowrap;
}

.pill:hover {
  background: #ff2040;
  transition: background 0.2s ease-in-out;
}

.pill-inverse {
  color: #e14658;
  background: #ffe2e2;
}

.pill-inverse:hover {
  background: #ffd5d5;
}

.pill-dot {
  position: relative;
}

.pill-dot::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 0 3px 1px;
  border-radius: 10px;
  background: #ff533d;
}

.pill-dot-inverse::after {
  background: #ffe2e2;
  box-shadow: 0 1px 2px #e14658;
  margin-left: 2px;
}

/* Mobile Portrait */
@media screen and (min-width: 300px)  {
  body {
    overflow-y: scroll;
  }

  #scrn-smol {
    display: none;
  }

  .section {
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 1;
    overflow: hidden;
  }

  .section-hide {
    display: none !important;
  }

  .back-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .left, .right {
    position: relative;
    width: calc(100% - 40px);
    padding: 30px;
    font-size: 18px;
  }

  .small-text, .pill {
    font-size: 14px;
  }

  .timeline {
    margin-left: 10px;
  }

  .timeline + p#check-out-cv {
    margin-top: 1.5em;
    margin-bottom: 2.5em;
  }

  .timeline-item {
    position: relative;
  }

  .timeline-item::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #22252c;
  }

  .timeline-item:first-child::before {
    border-radius: 3px 3px 0 0;
  }

  .timeline-item:last-child::before {
    border-radius: 0 0 3px 3px;
  }

  .timeline-item + .timeline-item {
    padding-top: 1em;
  }

  .timeline .timeline-item p, .timeline .timeline-item h3 {
    position: relative;
    margin: 0 0 0 30px;
  }

  .timeline .timeline-item h3::before {
    position: absolute;
    content: "";
    left: -36px;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 4px;
    background-color: #ff5678;
    border: 2px solid #f5f5f5;
  }

  .left {
    height: 180px;
    padding: 0;
    width: 100%;
    font-weight: bold;
  }

  .right {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
  }

  h1, h2, h3 {
    font-family: 'Maven Pro', sans-serif;
  }

  .left .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
  }

  .right .center {
    position: relative;
  }

  .droppable, .droppable-row {
    -webkit-transform: translate3d(0,40px,0) !important;
    -ms-transform: translate3d(0,40px,0) !important;
    transform: translate3d(0,40px,0) !important;
    opacity: 0;
  }

  /* Landing Section */
  #land {
    background: #22252c;
    background: linear-gradient(to bottom, #22252c, #070814);
    height: 100vh;
    z-index: 5;
  }

  #logo, #foot-logo, #desc, #foot-desc {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    height: 60vh;
    width: 60vw;
  }

  #logo, #foot-logo, #nav-logo {
    -webkit-filter: saturate(0.5);
    filter: saturate(0.5);
    -webkit-animation: glowgo 4s infinite;
    animation: glowgo 4s infinite;
  }

  #desc {
    cursor: default;
    top: 55%;
    height: auto;
    width: calc(100% - 40px);
    padding: 40px 20px;
    text-align: center;
    font-size: 12vh;
    color: #e14658;
    z-index: 10;
    font-weight: bold;
    text-shadow: 0 0 8vw #924;
    -webkit-animation: glow 2.3s infinite;
    animation: glow 2.3s infinite;
  }

  .typed-cursor{
    opacity: 1;
    font-weight: normal;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }

  /* Navbar */
  #navbar {
    position: absolute;
    display: block;
    color: #e14658;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-shadow: 0 0 1vw #713;
    z-index: 100;
    width: 100%;
    margin-top: -57px;
    height: 57px;
    overflow: hidden;
  }

  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #navbar li {
    transition: color 0.5s ease-in-out, bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: relative;
    min-width: 30px;
    display: inline-block;
    padding: 20px 1.5vw;
    cursor: pointer;
    opacity: 1;
    bottom: 0;
  }

  .nav-line {
    transition: all 0.5s ease-in-out;
    position: absolute;
    width: calc(100% - 3vw);
    bottom: 0;
    background: #e14658;
    border-radius: 1px;
    height: 0px;
    box-shadow: 0 0 1vw #713;
  }

  .nav-line-selected {
    height: 0px;
  }

  .hover li:hover .nav-line {
    transition: all 0.2s ease-in-out;
  }

  .hover #navbar li:hover {
    transition: color 0.2s ease-in-out, bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
    color: #ff2040;
  }

  .hover #navbar li:hover .nav-line {
    background: #ff2040;
    height: 6px;
  }

  #navbar li:active {
    transition: color 0.03s ease-in-out;
    color: #ff1090 !important;
  }

  #navbar li:active .nav-line {
    transition: background 0.03s ease-in-out;
    background: #ff1090 !important;
  }

  .nav-hide {
    bottom: -40px !important;
    opacity: 0 !important;
  }

  .logo-but {
    display: none !important;
  }

  #mobile-but {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 15px;
    z-index: 501;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
  }

  .hover #mobile-but:hover {
    top: 12px;
    left: 12px;
    width: 46px;
    height: 46px;
  }

  #mobile-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    background: #ff533d;
    background: linear-gradient(to top left, #e14658, #ff533d);
    transition: opacity 0.5s ease-in-out;
  }

  #mobile-menu {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
  }

  .menu-but {
    position: relative;
    bottom: 0;
    color: #f5f5f5;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    text-shadow:0 0 20px #924;
    text-align: center;
    cursor: pointer;
    transition: color 0.5s ease-in-out, bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .hover .menu-but:hover {
    color: #ffaaff;
    transition: color 0.2s ease-in-out, bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .menu-but:active {
    transition: color 0.03s ease-in-out;
    color: #ff4090 !important;
  }

  /* About Section */
  #about .left {
    background: #ff533d;
    background: linear-gradient(to bottom right, #e14658, #ff533d);
    text-shadow: 0 0 80px #923;
  }

  #about .right {
    background: #f5f5f5;
    background: linear-gradient(to bottom right, #f5f5f5, #fef); /*ffe5f0*/
    box-shadow: inset 0 -20px 40px -20px #ffbfcf;
    color: #22252c;
  }

  #about .section-title {
    display: none;
    font-size: 70px;
    text-align: center;
    margin-top: -2vh;
  }

  #about .section-desc {
    display: none;
    font-size: 19px;
    text-align: center;
    margin-top: -7px;
  }

  #about .first-el {
    margin-top: 60px;
  }

  #about .first-el, #about .mid-el {
    text-align: center;
    width: 100%;
  }

  .profile-cont {
    position: absolute;
    height: 220px;
    width: 220px;
    left: 50%;
    -webkit-transform: translate3d(-50%,-230px,0);
    -ms-transform: translate3d(-50%,-230px,0);
    transform: translate3d(-50%,-230px,0);
  }

  .profile-img {
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: url("/img/alex-2024.jpeg") no-repeat center center;
    background-size: cover;
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
    border-radius: 200px;
    border: 10px solid #ddd;
  }

  /* Contact Section */
  #contact {
    z-index: 0;
  }

  #contact .inset-shadow {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 40px #001;
  }

  #contact .back-pic {
    background: #1a1a1f url("/img/desk.jpg") no-repeat bottom center;
    background-size: 300%;
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
  }

  /* Footer */
  #foot {
    position: relative;
    background: none;
    background: linear-gradient(to top, rgba(34,37,44,1), rgba(0,0,0,0));
    color: #e14658;
    text-align: center;
    font-size: 18px;
    padding: 60px 20px;
    height: 100px;
    width: calc(100% - 40px);
    z-index: 2;
    text-shadow:0 0 2vw #924;
    -webkit-animation: glow 1.5s infinite;
    animation: glow 1.5s infinite;
  }

  #foot-logo {
    top: 45%;
    height: 70%;
    width: 80%;
  }

  #foot-desc {
    top: 80%;
    height: auto;
    width: 100%;
    z-index: 10;
    font-weight: bold;
    cursor: default;
  }
}

/* Landing Resizing For Portrait/Small Browser */
@media screen and (max-aspect-ratio: 13/10) {
  #desc {
    font-size: 9vw;
  }
}
@media screen and (orientation: portrait) {
  #logo {
    top:42%;
  }

  #desc {
    top: calc(42% + 30vw);
    font-size: 8vw;
  }
}

/* Mobile Landscape/Desktop Small */
@media screen and (min-width: 600px) { /* and (orientation: landscape) */
  /* Navbar */
  #navbar {
    font-size: 18px;
    margin-top: -61px;
    height: 61px;
  }

  #navbar li {
    padding: 20px 20px;
    min-width: 40px;
  }

  .nav-line {
    width: calc(100% - 40px);
  }

  /* About Section */
  #about .section-title {
    font-size: 80px;
  }

  #about .section-desc {
    font-size: 21px;
    margin-top: -9px;
  }

  /* Footer */
  #contact .back-pic {
    background-size: 200%;
  }

  #foot {
    font-size: 27px;
  }
}

/* Desktop Medium */
@media screen and (min-width: 1024px) {
  .left, .right {
    position: relative;
    padding: 50px;
    width: calc(50% - 100px);
  }

  .left {
    height: initial;
    max-height: calc(100vh - 100px);
  }

  .left-fixed {
    position: fixed;
    top: 0;
    height: calc(100vh - 100px);
  }

  .right-float {
    margin-left: 50%;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
  }

  /* Landing Section */
  #land {
    background: linear-gradient(to top right, #22252c, #070814);
  }

  /* Navbar */
  #mobile-nav, #mobile-but {
    display: none;
  }

  #navbar {
    font-size: 20px;
    margin-top: -63px;
    height: 63px;
  }

  #navbar li {
    padding: 20px 30px;
    min-width: 50px;
  }

  .nav-line {
    width: calc(100% - 60px);
  }

  .nav-line-selected {
    height: 4px;
  }

  .nav-fixed {
    position: fixed !important;
    top: 0 !important;
    margin: 0 !important;
    background: #22252c;
    text-shadow: 0 0 1vw #512 !important;
  }

  .fixed-fade {
    transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  .nav-fixed li {
    color: #f5f5f5;
  }

  .logo-but {
    display: inline-block !important;
  }

  .logo-but .logo-text {
    padding: 0 9px;
    z-index: 100;
    transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .nav-fixed .logo-but {
    color: #ff2040;
  }

  .nav-end .logo-but {
    color: #f5f5f5;
  }

  #nav-logo {
    position: absolute;
    width: 58px;
    height: 58px;
    top: 3px;
    z-index: -5;
  }

  /* About Section */
  #about .section-title {
    display: block;
  }

  #about .section-desc {
    display: block;
  }

  #about .first-el {
    margin-top: 180px;
  }

  .profile-cont {
    left: 50%;
    -webkit-transform: translate3d(-50%,-245px,0);
    -ms-transform: translate3d(-50%,-245px,0);
    transform: translate3d(-50%,-245px,0);
  }

  .profile-img {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: inset 0 0 30px -7px #112;
  }

  #about .last-el {
    padding-bottom: 100px;
  }

  /* Contact Section */
  #contact .back-pic {
    background-size: 150%;
  }
}

/* Desktop Large */
@media screen and (min-width: 1400px) {
  .pills {
    max-width: 75%;
  }

  .timeline {
    margin-left: 15px;
  }

  .left, .right {
    padding: 100px 120px;
  }

  .right {
    width: calc(67% - 240px);
  }

  .right-float {
    margin-left: 33%;
  }

  .left {
    max-height: calc(100vh - 200px);
    width: calc(33% - 240px);
  }

  .left-fixed {
    height: calc(100vh - 200px);
  }

  /* Navbar */
  #navbar li {
    padding: 20px 40px;
  }

  .nav-line {
    width: calc(100% - 80px);
  }

  /* About Section */
  #about .first-el {
    margin-top: 0;
  }

  #about .first-el, #about .mid-el {
    text-align: left;
    width: auto;
  }

  #about .last-el {
    padding-bottom: 0;
  }

  .profile-cont {
    left: -230px;
    -webkit-transform: translate3d(0,-25px,0);
    -ms-transform: translate3d(0,-25px,0);
    transform: translate3d(0,-25px,0);
  }

  .profile-img {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 10px solid #ddd;
    box-shadow: none;
  }

  /* Contact Section */
  #contact .back-pic {
    background-size: 125%;
  }
}

/* Desktop X-Large */
@media screen and (min-width: 2000px) {
  .pills {
    max-width: 66%;
  }

  /* About Section */
  #about .section-title {
    font-size: 120px;
  }

  #about .section-desc {
    font-size: 32px;
    margin-top: -14px;
  }

  /* Contact Section */
  #contact .back-pic {
    background-size: 105%;
  }
}

/* Screen Too Small */
@media screen and (max-width: 299px) {
  * {
    display: none;
  }

  html, body {
    display: block;
  }

  body {
    display: block;
  }

  #scrn-smol, .center-vh {
    display: block;
    text-align: center;
    font-size: 20px;
  }
}

/* Animations */
@keyframes blink {
  50% { opacity:0; }
}
@-webkit-keyframes blink {
  50% { opacity:0; }
}
@-moz-keyframes blink {
  50% { opacity:0; }
}

@keyframes glow {
  50% { color:#ff3050; }
}
@-webkit-keyframes glow {
  50% { color:#ff3050; }
}
@-moz-keyframes glow {
  50% { color:#ff3050; }
}

@keyframes glow-hover {
  50% { color:#ff5088; }
}
@-webkit-keyframes glow-hover {
  50% { color:#ff5088; }
}
@-moz-keyframes glow-hover {
  50% { color:#ff5088; }
}

@keyframes glowgo {
  50% {
    -webkit-filter: saturate(1.5);
    filter: saturate(1.5);
  }
}
@-webkit-keyframes glowgo {
  50% {
    -webkit-filter: saturate(1.5);
    filter: saturate(1.5);
  }
}
@-moz-keyframes glowgo {
  50% {
    -webkit-filter: saturate(1.5);
    filter: saturate(1.5);
  }
}

@keyframes bounce {
  10% {
    bottom: 25px;
    line-height: 1.2em;
  }
  35% {
    bottom: 15px;
    line-height: 0.6em;
  }
}
@-webkit-keyframes bounce {
  10% {
    bottom: 25px;
    line-height: 1.2em;
  }
  35% {
    bottom: 15px;
    line-height: 0.6em;
  }
}
@-moz-keyframes bounce {
  10% {
    bottom: 25px;
    line-height: 1.2em;
  }
  35% {
    bottom: 15px;
    line-height: 0.6em;
  }
}
